@page
@model RegisterModel
@{
  ViewData["Title"] = "Registrar nuevo usuario";
}

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1 class="text-body-emphasis fw-semibold display-6 text-gradient">@ViewData["Title"]</h1>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="d-md-flex justify-content-end">
        <ol class="breadcrumb ms-auto p-3 rounded">

          <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")" class="link-body-emphasis">
              <i class="fa-solid fa-house me-1"></i>Inicio
            </a>
          </li>

          <li class="breadcrumb-item">
            <a href="@Url.Action("ReadUsers", "SuperAdmin")" class="link-body-emphasis">
              <i class="fa-solid fa-users me-1"></i>
              Usuarios
            </a>
          </li>

          <li class="breadcrumb-item active" aria-current="page">
            <a>
              <i class="fa-solid fa-user-plus me-1"></i>
              @ViewData["Title"]
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="bg-body-tertiary rounded p-sm-2 p-lg-5">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row g-3">
      <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.Nombre" class="form-control" autocomplete="off" aria-required="true" placeholder="Juan" />
          <label asp-for="Input.Nombre">Nombre</label>
          <span asp-validation-for="Input.Nombre" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.ApellidoPaterno" class="form-control" autocomplete="off" aria-required="true" placeholder="Apellido paterno" />
          <label asp-for="Input.ApellidoPaterno">Apellido Paterno</label>
          <span asp-validation-for="Input.ApellidoPaterno" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.ApellidoMaterno" class="form-control" autocomplete="off" aria-required="true" placeholder="Apellido materno" />
          <label asp-for="Input.ApellidoMaterno">Apellido Materno</label>
          <span asp-validation-for="Input.ApellidoMaterno" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
          <label asp-for="Input.Email">Email</label>
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <select asp-for="Input.SelectedRole" asp-items="Model.Input.Roles" class="form-select" aria-required="true">
            <option value="">Select a role</option>
          </select>
          <label asp-for="Input.SelectedRole">Role</label>
          <span asp-validation-for="Input.SelectedRole" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
          <label asp-for="Input.Password">Password</label>
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
          <label asp-for="Input.ConfirmPassword">Confirm Password</label>
          <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
      </div>

      <div class="d-flex gap-2">
        <button id="registerSubmit" type="submit" class="btn btn-primary">
          <i class="fa-solid fa-user-plus me-1"></i>Crear
        </button>
        <a asp-controller="SuperAdmin" asp-action="ReadUsers" class="btn btn-light">
          <i class="fas fa-arrow-left me-1"></i>Regresar
        </a>
      </div>

    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
